<div class="container mt-4">
  <h2>Lista de Entradas</h2>

  <div class="row mb-3">
    <div class="col-md-4">
      <label>Data inicial</label>
      <input type="date" class="form-control" [(ngModel)]="dataInicio">
    </div>

    <div class="col-md-4">
      <label>Data final</label>
      <input type="date" class="form-control" [(ngModel)]="dataFim">
    </div>

    <div class="col-md-4 d-flex align-items-end">
      <button class="btn btn-primary" (click)="buscar()">Buscar</button>
      <button class="btn btn-outline-secondary ms-2" (click)="limpar()">Limpar</button>
    </div>
  </div>


  <button [routerLink]="['/entradas/novo']" *ngIf="auth.isAdmin()" class="btn btn-sm btn-success">Nova Entrada</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 400px;">Descrição</th>
        <th>Valor</th>
        <th>Data de Entrada</th>
        <th>Categoria</th>
        <th *ngIf="auth.isAdmin()" style="width: 150px; text-align: center;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of entradas">
        <td>{{ e.descricao }}</td>
        <td>{{ e.valor | currency:'BRL' }}</td>
        <td>{{ e.data | date: 'dd/MM/yyyy' }}</td>
        <td>{{ categoriaLabel(e.categoria) }}</td>
        <td *ngIf="auth.isAdmin()">
          <!--<a class="btn btn-sm btn-warning me-2" [routerLink]="['/despesas', d.id, 'editar']">Editar</a>-->
          <a class="btn btn-sm btn-warning me-2" (click)="edit(e)">Editar</a>
          <button class="btn btn-sm btn-danger" (click)="delete(e.id!)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>