<div class="container mt-4">
  <h2>Lista de Entradas</h2>
  <button [routerLink]="['/entradas/novo']" class="btn btn-sm btn-success">Nova Entrada</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 400px;">Descrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Categoria</th>
        <th style="width: 150px; text-align: center;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of entradas">
        <td>{{ e.descricao }}</td>
        <td>{{ e.valor | currency:'BRL' }}</td>
        <td>{{ e.data }}</td>
        <td>{{ categoriaLabel(e.categoria) }}</td>
        <td>
          <!--<a class="btn btn-sm btn-warning me-2" [routerLink]="['/despesas', d.id, 'editar']">Editar</a>-->
          <a class="btn btn-sm btn-warning me-2" (click)="edit(e)">Editar</a>
          <button class="btn btn-sm btn-danger" (click)="delete(e.id!)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>