<div class="container mt-4">
  <h2>Dashboard Financeiro</h2>

  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card text-bg-success">
        <div class="card-body">
          <h5>Total de Entradas</h5>
          <h3>{{ resumo?.totalEntradas | currency:'BRL' }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-bg-danger">
        <div class="card-body">
          <h5>Total de Despesas</h5>
          <h3>{{ resumo?.totalDespesas | currency:'BRL' }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-bg-primary">
        <div class="card-body">
          <h5>Saldo</h5>
          <h3>{{ resumo?.saldo | currency:'BRL' }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>