<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Controle de Despesas</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/despesas" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Despesas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/entradas" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Entradas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
<app-toast-container></app-toast-container>